/* Genel Ayarlar */
html {
    scroll-behavior: smooth; /* Sayfada yumuşak kaydırma */
}

/* ---------------------------------------------------- */
/* 1. Hero Section ve Kartlar İçin Giriş Animasyonu */
/* ---------------------------------------------------- */

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 40px, 0); /* 40 piksel aşağıda başla */
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0); /* Orijinal yerine kay */
    }
}

.animate-fade-in-up {
    animation-name: fadeInUp;
    animation-duration: 0.8s;
    animation-fill-mode: both;
    opacity: 0;
}


/* ---------------------------------------------------- */
/* 2. Holografik Hover (Glitch) Efekti */
/* ---------------------------------------------------- */

.glitch-link {
    position: relative;
    display: inline-block;
    color: #1f2937; /* Varsayılan koyu renk */
    transition: color 0.3s; /* Renk geçişini yumuşat */
}

.glitch-link:hover {
    color: #1e3a8a; 
}

.glitch-link::before,
.glitch-link::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s;
    opacity: 0; 
}

.glitch-link::before {
    left: 1px;
    text-shadow: -1px 0 red;
    clip-path: inset(0 50% 0 0); 
}

.glitch-link::after {
    left: -1px;
    text-shadow: 1px 0 blue;
    clip-path: inset(0 0 0 50%); 
}

.glitch-link:hover::before,
.glitch-link:hover::after {
    opacity: 1;
}